

<!--<div class="row">-->
<!--  <div class="col-md-6">-->

<!--    <div class="card">-->

<!--      <div class="card-header bg-white">-->
<!--        <h4 class="card-title">Create your account</h4>-->
<!--      </div>-->

<!--      <div class="card-block">-->

<!--        &lt;!&ndash;        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">&ndash;&gt;-->
<!--        -->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--</div>-->


<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">


  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" class="form-control" placeholder="Your username">
  </div>


  <div class="form-group">
    <label for="email">Email</label>
    <!--            <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel  #email="ngModel">-->
    <input id="email" type="text" formControlName="email" class="form-control" placeholder="Email">
    <!--            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>-->
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="text" formControlName="password" class="form-control" placeholder="Password">
  </div>



  <div class="form-group">
    <!--            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>-->
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <!--            <app-spinner [isRunning]="isRequesting"></app-spinner>-->
  </div>

  <!--          <div *ngIf="errors" class="alert alert-danger" role="alert">-->
  <!--            <strong>Oops!</strong> {{errors}}-->
  <!--          </div>-->

</form>
